html, body{
    padding: 0;
    margin: 0;
    background-color: beige;
}
.generator{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
}
/* .simulation{
    position: relative;
}
hr{
    border: 1px solid black;
}
.floors{
    text-align: right;
}
.btns{
    display: flex;
    flex-direction: column;
    width: 100px;
}
.lifts{
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 0;
    margin-left: 130px;
    gap: 65px;
}
.lift{
    width: 50px;
    height: 80px;
    background-color: blue;
} */